@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }
  body {
    @apply bg-surface-muted text-slate-800 font-sans text-base;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-900 font-semibold;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-primary-200 rounded-full;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
}
